
body{
    margin: 0;
    background-color: #f1f5f9;
    font-family: 'Roboto', sans-serif;
    
}

header {
    display:flex;
    margin-left: 22px;
}

#main {
  background-color: #e2e8f0;
  height: 100vh;
  font-size: 1.5rem;

}


#form-container {
    display: flex;
    justify-content: center;
}

#submit-form {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #cbd5e1;
    width: 300px;
    padding: 22px; 
    border-radius: 8px;
    gap: 11px;
}

#close-button{
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 44px 0 22px 0;
}

#book-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 11px;
    margin: 11px;
    
}

#book-container ul{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8fafc;
    padding: 11px;
    border-radius: 8px;
    gap: 11px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.read-button[data-read="read"] {
    background-color: #cbd5e1;
  }
  
  .read-button[data-read="not-read"] {
    background-color: #fee2e2;
  }


button{
    font-size: 1.2rem;
}
